<!--Contact Section Start-->
<section id="contact" class="contact-section pt-page">
    <div class="section-container">

        <!--Page Heading-->
        <div class="page-heading">
            <span class="icon"><i class="lnr lnr-envelope"></i></span>
            <h2>Contactez Moi</h2>
        </div>

        <!-- Message d'email bien envoyé -->
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-3">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger mt-3">
                {{ message }}
            </div>
        {% endfor %}
        <!--Form Row-->
        <div class="row mb-70">
            <div class="col-lg-8  offset-lg-2">
                <div class="subheading">
                    <h3>Je vous écoute</h3>
                </div>

                {{ form_start(form) }}

                    <div class="row">
                        <div class="col-md-6 mb-20">
                            {{ form_label(form.firstname) }}
                            {{ form_widget(form.firstname) }}
                            <div class="form-error">
                                {{ form_errors(form.firstname) }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-20">
                            {{ form_label(form.lastname) }}
                            {{ form_widget(form.lastname) }}
                            <div class="form-error">
                                {{ form_errors(form.lastname) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-20">
                            {{ form_label(form.phoneNumber) }}
                            {{ form_widget(form.phoneNumber) }}
                            <div class="form-error">
                                {{ form_errors(form.phoneNumber) }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-20">
                            {{ form_row(form.email) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-20">
                            {{ form_row(form.company) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-20">
                            {{ form_label(form.subject) }}
                            {{ form_widget(form.subject) }}
                            <div class="form-error">
                                {{ form_errors(form.subject) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-20">
                            {{ form_label(form.content) }}
                            {{ form_widget(form.content) }}
                            <div class="form-error">
                                {{ form_errors(form.content) }}
                            </div>
                        </div>
                    </div>

                    <!--Submit Button-->
                    <div class="col-md-12 text-center">
                        <button {# id="cf-submit" #} class="btn-main">Envoyer le message</button>
                    </div>

                {{ form_end(form) }}



            </div>
        </div>

        <!--Contact Info Row Start-->
        <div class="row contact-info mb-70">

            <!--Contact Info Item-->
            <div class="col-md-4 info-item">
                <span class="icon"><i class="fas fa-paper-plane"></i></span>
                <h5>oliv<!-- Ceci embete -->ier.lart<!-- les robots -->illot@gm<span class="protectionspam ps-1">on se protége contre le spam</span>ail.com</h5>
            </div>

            <!--Contact Info Item-->
            <div class="col-md-4 info-item">
                <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                <h5>Montpellier, France</h5>
            </div>

            <!--Contact Info Item-->
            <div class="col-md-4 info-item">
                <span class="icon"><i class="fas fa-phone"></i></span>
                <h5><a class="phone" href="tel:+33638327548">0<!-- Ceci embete -->63<span class="protectionspam ps-1">on se protége contre le spam</span>832<!-- Ceci embete -->7548</a></h5>
            </div>

        </div>
        <!--Contact Info Row End-->

    </div>
   
</section>
<!--Contact Section End-->