<!--Porfolio Section Start-->
<section id="portfolio" class="portfolio-section pt-page">
    <div class="section-container">

        <!--Page Heading-->
        <div class="page-heading">
            <span class="icon"><i class="lnr lnr-briefcase"></i></span>
            <h2>Portfolio.</h2>
        </div>

        <div class="row">
            <!--Portfolio Filter-->
            <div class="col-md-12 portfolio-filter text-center">
                <ul>
                    <li class="active" data-filter="*">All</li>
                     {% for tag in tags %}
                         <li data-filter=".{{tag.slug}}">{{tag}}</li>
                     {% endfor %}


{#                    
                    <li data-filter=".design">Design</li>
                    <li data-filter=".graphic">Graphic</li> #}
                </ul>
            </div>
        </div>

        <!--Portfolio Items-->
        <div class="row portfolio-items mb-50">

            {% for portfolio in portfolios %}
            <div class="item col-lg-4 col-sm-6 
            {% for key,tag in portfolio.portfolioTags %}{{ tag.slug }} {% endfor %}">
                <a class="{{ portfolio.portfolioClass }}" href="img/portfolio/{{ portfolio.image }}">
                    <figure>
                        <img src="img/portfolio/{{ portfolio.image }}" alt="{{ portfolio.title }}">
                        <figcaption>
                            <h4>{{ portfolio.title }}</h4>
                            <p>
                                {% for key,tag in portfolio.portfolioTags %}
                                    {{ tag }}
                                    {% if (key + 1) < (portfolio.portfolioTags|length) %}, {% endif %}

                                {% endfor %}

                            
                            </p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            {% endfor %}



          

        </div>
    </div>
</section>
<!--Porfolio Section End-->